@{
  Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <link rel="shortcut icon" type="image/png" href="~/Content/jasmine/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="~/Content/jasmine/jasmine.css">
  <script type="text/javascript" src="~/Scripts/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="~/Scripts/jasmine/jasmine-html.js"></script>

  <!-- include source files here... -->
  <script type="text/javascript" src="~/Scripts/jasmine-samples/SpecHelper.js"></script>

  <script type="text/javascript" src="~/Scripts/jasmine-samples/Player.js"></script>
  <script type="text/javascript" src="~/Scripts/jasmine-samples/Song.js"></script>

  <script src="~/Scripts/underscore.js"></script>
  <script src="~/js/vendor/angular/angular.js"></script>
  <script src="~/js/vendor/angular/angular-resource.js"></script>
  <script src="~/js/vendor/angular/angular-mocks.js"></script> 
  
<script src="~/js/vendor/sinon.js"></script>
<script src="~/js/vendor/sinon/assert.js"></script>
<script src="~/js/vendor/sinon/collection.js"></script>
<script src="~/js/vendor/sinon/match.js"></script>
<script src="~/js/vendor/sinon/mock.js"></script>
<script src="~/js/vendor/sinon/sandbox.js"></script>
<script src="~/js/vendor/sinon/spy.js"></script>
<script src="~/js/vendor/sinon/stub.js"></script>
<script src="~/js/vendor/sinon/test.js"></script>
<script src="~/js/vendor/sinon/test_case.js"></script>   
<script src="~/js/vendor/sinon/util/event.js"></script>
<script src="~/js/vendor/sinon/util/fake_server.js"></script>
<script src="~/js/vendor/sinon/util/fake_server_with_clock.js"></script>
<script src="~/js/vendor/sinon/util/fake_timers.js"></script>
<script src="~/js/vendor/sinon/util/fake_xml_http_request.js"></script>
<script src="~/js/vendor/sinon/util/timers_ie.js"></script>
<script src="~/js/vendor/sinon/util/xhr_ie.js"></script>  

  <script src="~/js/app.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/services/PhoneData.js"></script>
    <script src="~/js/directives/phoneTable.js"></script>
    <script src="~/js/directives/phoneList.js"></script>
    <script src="~/js/directives/phoneTabs.js"></script>
    <script src="~/js/controllers/MenuController.js"></script>
    <script src="~/js/controllers/PhoneController.js"></script>
    <script src="~/js/controllers/PlansController.js"></script>
    <script src="~/js/controllers/AccountsController.js"></script>
    <script src="~/js/controllers/NewPhoneController.js"></script>
    <script src="~/js/controllers/PlanLookupController.js"></script>
    <script src="~/js/controllers/NewAccountController.js"></script>
    <script src="~/js/controllers/AccountLookupController.js"></script>
    <script src="~/js/controllers/NewPhoneInstanceController.js"></script>
    <script src="~/js/controllers/PhoneInstanceLookupController.js"></script>
    <script src="~/js/controllers/PhoneLookupController.js"></script>
    <script src="~/js/filters/phoneNumberFilter.js"></script>

  <!-- include spec files here... -->
  <script type="text/javascript" src="~/Scripts/jasmine-samples/PlayerSpec.js"></script>
  <script type="text/javascript" src="~/tests/AccountLookupControllerSpec.js"></script>
  <script type="text/javascript" src="~/tests/AccountsControllerSpec.js"></script>
  <script type="text/javascript" src="~/tests/NewAccountControllerSpec.js"></script>
  <script type="text/javascript" src="~/tests/NewPhoneControllerSpec.js"></script>
  <script type="text/javascript" src="~/tests/PlansControllerSpec.js"></script>
  <script type="text/javascript" src="~/tests/PhoneControllerSpec.js"></script>

  <script type="text/javascript">
    (function() {
      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 1000;

      var htmlReporter = new jasmine.HtmlReporter();

      jasmineEnv.addReporter(htmlReporter);

      jasmineEnv.specFilter = function(spec) {
        return htmlReporter.specFilter(spec);
      };

      var currentWindowOnload = window.onload;

      window.onload = function() {
        if (currentWindowOnload) {
          currentWindowOnload();
        }
        execJasmine();
      };

      function execJasmine() {
        jasmineEnv.execute();
      }

    })();
  </script>

</head>

<body>
</body>
</html>
