<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  </configSections>

  <connectionStrings>
    <add name="phones"
      connectionString="Data Source=PhoneMart.db.8438426.hostedresource.com; Initial Catalog=PhoneMart; User ID=PhoneMart; Password=Phonesarefun1!"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <appSettings>
    <add key="InitDb" value="no" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <httpModules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" xdt:Locator="Match(name)" xdt:Transform="Remove" />
    </httpModules>
    <httpHandlers>
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" xdt:Locator="Match(path)" xdt:Transform="Remove" />
    </httpHandlers>
  </system.web>
  
  <system.webServer>
    <handlers>
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" xdt:Locator="Match(name)" xdt:Transform="Remove" />
    </handlers>
    <modules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" xdt:Locator="Match(name)" xdt:Transform="Remove"/>
    </modules>
  </system.webServer>

  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd" xdt:Transform="Remove">
  </glimpse>

</configuration>