<div class="container">
    <h1>Account {{accountId}}</h1>

    <div class="row">
        <h5>Account Owner</h5>
        <form name="updateAccountForm">
            <label>
                Account Holder:
                <span ng-show="mode=='SHOW'">{{account.accountHolder.fullName}}</span>
                <input ng-show="mode=='EDIT'" type="text" ng-model="auFullName" required />
            </label>
            <label>
                Contact Phone No.:
                <span ng-show="mode=='SHOW'">{{account.accountHolder.contactPhoneNumber}}</span>
                <input ng-show="mode=='EDIT'" type="text" ng-model="auContactPhoneNumber" required />
            </label>
            <label>
                Email Address:
                <span ng-show="mode=='SHOW'">{{account.accountHolder.emailAddress}}</span>
                <input ng-show="mode=='EDIT'" type="text" ng-model="auEmailAddress" required />
            </label>
            <br/>
            <button class="btn btn-inverse" ng-show="mode=='SHOW'" ng-click="editAccount(account)">Edit</button>
            <button class="btn btn-inverse" ng-disabled="!updateAccountForm.$valid" ng-show="mode=='EDIT'" ng-click="updateAccount(accountId)">Update</button>
            <button class="btn btn-inverse" ng-show="mode=='EDIT'" ng-click="cancelEditAccount()">Cancel</button>
        </form>
    </div>
    <div class="row">
        <h5>Linked Phones</h5>
        <table class="table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Serial No.</th>
                    <th>Phone No.</th>
                    <th>Model</th>
                    <th>Plan</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pi in account.phones">
                    <td>{{pi.serialNumber}}</td>
                    <td>{{pi.phoneNumber}}</td>
                    <td>{{pi.phone.model}}</td>
                    <td>{{pi.phonePlan.planName}}</td>
                    <td><img style="height: 30px" ng-src="img/phones/{{pi.phone.imageFile}}" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="span12">
            <br/>
            <button ng-click="addPhone()" class="btn btn-inverse">Add Phone</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <br/>
        <div class="well">
            <span class="icon-chevron-up"></span>
            <a href="#/accounts">Account List</a>
        </div>
    </div>
</div>
