<div class="container">
    <div class="row">
        <div class="span6">
            <h1>Accounts</h1>
        </div>
        <div class="span6">
            <button class="btn btn-inverse" ng-click="addAccount()">Add</button>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Account Id</th>
                        <th>Account Holder</th>
                        <th>Email Address</th>
                        <th>Phone Number</th>
                        <th>Phones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="account in accounts">
                        <td>{{account.accountId}}</td>
                        <td><a href="#/accounts/{{account.accountId}}">{{account.accountHolder.fullName}}</a></td>
                        <td>{{account.accountHolder.emailAddress}}</td>
                        <td>{{account.accountHolder.contactPhoneNumber}}</td>
                        <td>{{account.phones.length}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
