<div class="container">
    <h1>Add Phone to Account {{accountId}} - {{account.accountHolder.fullName}}</h1>

    <form name="addPhoneForm" class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Model:</label>
            <div class="controls">
                <select ng-model="selectedPhone" ng-options="phone.model for phone in phones">
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Serial Number:</label>
            <div class="controls">
                <input type="text" ng-model="serialNumber" required />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Phone Number:</label>
            <div class="controls">
                <input type="text" ng-model="phoneNumber" required />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Plan:</label>
            <div class="controls">
                <select ng-model="selectedPlan" ng-options="plan.planName for plan in selectedPhone.plans">
                </select>
            </div>
        </div>

        <button ng-click="addPhone(accountId)" class="btn btn-info btn-large" ng-disabled="!addPhoneForm.$valid">Add</button>
        <button ng-click="cancel()" class="btn btn-info btn-large">Cancel</button>
    </form>
</div>
