<div class="container">
    <div class="row">
        <div class="span2">
            <h1>Phones</h1>
        </div>
        <div class="span1">
            <button class="btn-info btn-large" ng-click="addPhone()">Add</button>
        </div>
        <div class="span9">
            <span class="text-info">Plans:</span>
            <select ng-model="selectedPlanId" ng-options="plan.planId as plan.planName for plan in plans">
            </select>
            &nbsp;&nbsp;
            <span class="text-info">Manufacturers:</span>
            <select ng-model="selectedManufacturer" ng-selected="manufacturerSelected()">
                <option value="-1">(all)</option>
                <option ng-repeat="manufacturer in manufacturers" value="{{manufacturer.manufacturerId}}">{{manufacturer.manufacturerName}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <phone-tabs />
        </div>
    </div>
</div>
