<div class="container">
    <h1>Account {{accountId}} - Phone Instance {{phoneInstanceId}}</h1>


    <div class="row">
        <div class="span4">
            <a href="#/phones/{{phoneInstance.phone.phoneId}}">
                <img style="height: 300px" ng-src="img/phones/{{phoneInstance.phone.imageFile}}" />
            </a>
            <h2>{{phoneInstance.phone.manufacturer.manufacturerName}} {{phoneInstance.phone.model}}</h2>
        </div>
        <div class="span8">
            <form name="updatePhoneForm" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Serial Number:</label>
                    <div class="controls">
                        <input type="text" ng-model="serialNumber" required />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Phone Number:</label>
                    <div class="controls">
                        <input type="text" ng-model="phoneNumber" required />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Plan:</label>
                    <div class="controls">
                        <select ng-model="phonePlanId" ng-options="plan.planId as plan.planName for plan in plans" required>
                        </select>
                    </div>
                </div>
                <button ng-click="updatePhoneInstance(accountId, phoneInstanceId)" class="btn btn-inverse" ng-disabled="!updatePhoneForm.$valid">Update</button>
                <button ng-click="deletePhoneInstance(accountId, phoneInstanceId)" class="btn btn-warning">Delete</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="well">
            <span class="icon-chevron-up"></span>
            <a href="#/accounts/{{accountId}}">Back to Account</a>
        </div>
    </div>
</div>
