<div class="container"> <!--ng-controller="PhoneController"> -->
    <div class="row">
        <div class="span6">
            <button class="btn" ng-click="morePhones(phones)">More Phones</button>
            <button class="btn-warning" ng-click="lessPhones(phones)">Less Phones</button>
            <button class="btn-danger" ng-click="updateDescriptions(phones)">Update Descriptions</button>
        </div>
        <div class="span6">
            Deleted Phone: {{deletedPhone.model}}
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="span12">
            <phone-tabs />
        </div>
    </div>
</div>
