<div class="container">
    <h1>{{plan.planName}}</h1>
</div>
<div class="container">
    <div class="row">
        <div class="span6">
            <div class="hero-unit" style="background-color: inherit">
            <h2 class="text-info">Plan Details</h2>
                <table id="planTable" class="table">
                    <tbody>
                        <tr>
                            <td>Monthy Cost</td>
                            <td>{{plan.monthlyCost | currency}}</td>
                        </tr>
                        <tr>
                            <td>Voice Minutes</td>
                            <td>{{plan.voiceMinutes | number:0}}</td>
                        </tr>
                        <tr>
                            <td>Data (Megabytes)</td>
                            <td>{{plan.dataMegabytes | number:0}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="span6">
            <div class="hero-unit" style="background-color: inherit">
            <h2 class="text-info">Phones</h2>
                <ul>
                    <li ng-repeat="phone in plan.phones">
                        <a href="#/phones/{{phone.phoneId}}">{{phone.manufacturer.manufacturerName}} {{phone.model}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12 text-center">
            <button ng-click="updatePlan(plan)" class="btn btn-info btn-large">Update</button>
            &nbsp;&nbsp;
                <button ng-click="deletePlan(plan)" class="btn btn-danger btn-large">Delete</button>
            &nbsp;&nbsp;
                <button ng-click="cancel()" class="btn btn-warning btn-large">Back</button>
        </div>
    </div>
</div>
