<div class="tabbable">
    <ul class="nav nav-tabs">
        <li ng-repeat="phone in phones | filter:propertiesFilter | filter:appFilter | filter:planFilter" ng-class='{active: isActive(phone, $index)}' ng-click="selectPhone(phone)">
            <a href="#phonePane{{$index}}" data-toggle="tab">
                <img style="height: 50px" ng-src="img/phones/{{phone.imageFile}}" />
                <br />
                {{phone.model}}
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div ng-repeat="phone in phones | filter:propertiesFilter | filter:appFilter | filter:planFilter" id="phonePane{{$index}}" class="tab-pane" ng-class='{active: isActive(phone, $index)}'>

            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h3>{{phone.manufacturer.manufacturerName}} {{phone.model}}</h3>
                        <a href="#/phones/{{phone.phoneId}}">
                            <img style="height: 300px" ng-src="img/phones/{{phone.imageFile}}" />
                        </a>
                        <div>Price: {{phone.price | currency}}</div>
                    </div>
                    <div class="span8">
                        <div class="lead">{{phone.description}}</div>

                        <div class="tabbable">
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#phonePlans{{$index}}" data-toggle="tab">Plans</a></li>
                                <li><a href="#phoneApps{{$index}}" data-toggle="tab">Apps</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="phonePlans{{$index}}">
                                    <table class="table table-bordered" style="text-align: center">
                                        <thead>
                                            <tr>
                                                <th>Plan</th>
                                                <th>Talk Minutes</th>
                                                <th>Data (MB)</th>
                                                <th>Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="plan in phone.plans">
                                                <td><a ng-href="#/plans/{{plan.planId}}">{{plan.planName}}</a></td>
                                                <td>{{plan.voiceMinutes}}</td>
                                                <td>{{plan.dataMegabytes | number}}</td>
                                                <td>{{plan.monthlyCost | currency }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="phoneApps{{$index}}">
                                    <table class="table table-bordered" style="text-align: center">
                                        <thead>
                                            <tr>
                                                <th>App</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="app in phone.apps">
                                                <td><a ng-href="#/apps/{{app.appId}}">{{app.name}}</a></td>
                                                <td>{{app.description}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
