<div class="tabbable">
    <ul class="nav nav-tabs">
        <li ng-repeat="phone in phones" ng-class='{active: $index == 0}'>
            <a href="#phonePane{{$index}}" data-toggle="tab">
                <img style="height: 50px" src="img/phones/{{phone.imageFile}}" />
                <br />
                {{phone.model}}
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div ng-repeat="phone in phones" id="phonePane{{$index}}" class="tab-pane" ng-class='{active: $index == 0}'>
            <h1>{{phone.model}}</h1>

            <div class="container">
                <div class="row">
                    <div class="span4">
                        <img style="height: 300px" ng-click="displayPhone(phone)"
                            src="img/phones/{{phone.imageFile}}" />
                    </div>
                    <div class="span4">
                        <div class="lead">{{phone.description}}</div>
                    </div>
                    <div class="span4">
                        <h3>Available Plans for this Phone</h3>
                        <ul style="list-style: none" class="pill-content">
                            <li ng-repeat="plan in phone.plans" style="margin-top: 30px">
                                <h4>{{plan.planName}}</h4>
                                <table class="table-bordered table-striped" style="text-align: center">
                                    <thead>
                                        <tr>
                                            <th>Talk Minutes</th>
                                            <th>Text Minutes</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{plan.voiceMinutes}}</td>
                                            <td>{{plan.dataMinutes}}</td>
                                            <td>{{plan.monthlyCost | currency }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
